* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: sans-serif;
}

#gd_kh_cx {
    width: 100%;
    margin-top: 0px;
    background-color: gainsboro;
}

    #gd_kh_cx .container {
        width: 1000px;
        margin: 0px auto;
        background-color: #1b9ce3;
        border-radius: 5px;
    }

.btnTv {
    background-color: darkgoldenrod;
    border-radius: 5px;
    color: white;
    height: 40px;
    border: none;
    padding: 10px;
}

#datve {
    width: 100%;
    background-color: gainsboro;
}

    #datve .container {
        width: 1000px;
        margin: 0px auto;
        padding-top: 40px;
        padding-bottom: 30px;
        display: inline-block;
    }

        #datve .container .datve_left,
        #datve .container .datve_right {
            float: left;
            background-color: ghostwhite;
        }

        #datve .container .datve_left {
            width: 200px;
            border: 1px solid gainsboro;
            border-radius: 5px;
            padding: 10px;
            text-align: initial;
        }

        #datve .container .datve_right {
            margin-left: 40px;
            width: 760px;
            float: left;
            border: 1px solid gainsboro;
            border-radius: 5px;
            padding: 20px;
        }

        .lblSapxep {
            font-size: 25px;
        }

.lblrange {
    padding-right: 20px;
}

#datve .container .datve_right div.sapxep {
    display: inline;
}

    #datve .container .datve_right div.sapxep ul {
        list-style-type: none;
        margin-top: 30px;
        margin-bottom: 30px;
    }

        #datve .container .datve_right div.sapxep ul li {
            display: inline-block;
        }

            #datve .container .datve_right div.sapxep ul li a {
                text-decoration: none;
                padding-right: 30px;
                color: dimgrey;
            }

                #datve .container .datve_right div.sapxep ul li a:hover {
                    color: #1b9ce3;
                }

table {
}

.btnDatve {
    text-decoration: none;
    border: 1px solid;
    background-color: #1b9ce3;
    color: white;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    float: left;
}

#gd_ttkh_ftt_datve {
    border: 1px solid darkgrey;
    border-radius: 5px;
    text-align: initial;
}

.ftt_datve h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

div.tt_container {
    padding: 20px;
}

div.thongtin {
    padding-top: 10px;
    padding-bottom: 10px;
}

.txt {
    Height: 35px;
    Width: 200px;
}

.btn {
    border: 1px solid;
    background-color: #1b9ce3;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
}

.aspNetDisabled.txtghetrong {
    text-align: left;
}

