* {
    box-sizing: border-box
}
#banner1 {
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
    #banner1 label {
        color: white;
        font-size: 30px;
        text-align: center;
        padding-top: 50px;
    }

.fDV {
    border: 1px solid #1b9ce3;
    background-color: #1b9ce3;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

.fTimve {
    padding-left: 15px;
    padding-right: 15px;
}

.text {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
}

.btn {
    background-color: mediumblue;
    border-radius: 5px;
    color: white;
    height: 40px;
    border: none;
    padding: 10px;
}

#slideshow {
    float: left;
    margin: 33px;
}

#slideshow img {
    width: 230px;
    height: 200px;
    padding-left: 15px;
}

.txtuudai {
    padding-top: 20px;
    margin-bottom: -15px;
}

.slide {
    display: inline-block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 110px;
    align-items: center;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 20px;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
    padding-right: -15px;
}

    .prev:hover, .next:hover {
        background-color: gainsboro;
    }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.txth3 {
    margin-bottom: 15px;
}

.tableInfo {
    margin: 30px 50px 30px 50px;
}

.Info {
    border: 1px solid gainsboro;
    width: 225px;
    height: 100px;
}

.icon {
    float: left;
    height: 70px;
    width: 70px;
    padding: 20px;
}
.txtThongtin {
    height: 70px;
    padding: 20px;
    margin-left: 60px;
}

    .txtThongtin label {
        width: 100%;
        display: block;
        font-weight: bold;
    }

.tt_bx_tx_nx {
    padding: 30px;
}
    .tt_bx_tx_nx table {
        width: 100%;
    }

    /*.tt_bx_tx_nx table, th, td {
        padding: 8px;
    }*/

    .tt_bx_tx_nx th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
    }

    .lbtn {
        text-decoration: none;
        color: dimgray;
    }


